    <div>
    <a href="index.html">
      <%= image_tag 'SL-LOGO.svg', id: 'logo' %>
    </a>
    <%= image_tag 'storef.jpg', width: '100%', id: 'bgs' %>
    </div>
  <hr>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5 right-border">
        <h1 class="mb-0">Office Phone #1</h1>
        <p class="">(602) 710-3800</p>
        <h1 class="mb-0">Office Phone #2</h1>
        <p>(480) 256-9950</p>
        <h1 class="mb-0">Hours</h1>
        <h4>Monday-Friday:</h4>
        <p>10:00AM-6:00PM</p>
        <h4>Saturday:</h4>
        <p>11:00AM-3:00PM</p>
        <h4>Sunday:</h4>
        <p>By Appointment</p>
        <!--<p>12:00AM-3:00PM</p>-->
      </div>
      <div class="col-5">
        <h1 class="mb-0">Fax</h1>
        <p>(602) 507-7474</p>
        <h1 class="mb-0">E-Mail</h1>
        <p>mslibery2013@gmail.com</p>
        <h1 class="mb-0"s>Location</h1>
        <p>
          <a href="https://goo.gl/maps/ndKZbkxKaMH2" target="_blank">
            310 N Dobson Rd, Suite #3<br>Mesa, AZ 85201
          </a>
        </p>
        <p>We are located on the SW corner of University Dr and Dobson Rd.</p>
        <p>Hablamos Espa&#241;ol!</p>
      </div>
    </div>
  </div>